@using _ = ContosoUniversity.Shared.Features.Courses.Create

@page "/Courses/Create"
@inject IRemotiatr _remotiatr
@inject NavigationManager  _navigationManager

<h2>Create</h2>

<h4>Course</h4>
<hr />

<Loading When="Data == null">

    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Data" OnValidSubmit="OnPostAsync">
                <FluentValidationValidator />
                <FormBlock>
                    <Label @bind-Value="Data.Number" />
                    <InputNumber @bind-Value="Data.Number" min="0" step="1" />
                    <ValidationMessage For="() => Data.Number" />
                </FormBlock>
                <FormBlock>
                    <Label @bind-Value="Data.Title" />
                    <InputText @bind-Value="Data.Title" />
                    <ValidationMessage For="() => Data.Title" />
                </FormBlock>
                <FormBlock>
                    <Label @bind-Value="Data.Credits" />
                    <InputNumber @bind-Value="Data.Credits" min="0" step="1" />
                    <ValidationMessage For="() => Data.Credits" />
                </FormBlock>
                <FormBlock>
                    <Label @bind-Value="Data.DepartmentId" />
                    <InputSelectNumber @bind-Value="Data.DepartmentId">
                        <option value=""></option>
                        @foreach (var department in Data.Departments)
                        {
                            <option value="@department.Id">@department.Name</option>
                        }
                    </InputSelectNumber>
                    <ValidationMessage For="() => Data.DepartmentId" />
                </FormBlock>
                <FormBlock>
                    <button type="submit" class="btn btn-primary">Create</button>
                </FormBlock>
            </EditForm>
        </div>
    </div>

    <div>
        <a href="/Courses">Back to List</a>
    </div>

</Loading>

@code {
    public _.Command Data { get; set; }

    protected override async Task OnInitializedAsync() => Data = await _remotiatr.Send(new _.Query());

    private async Task OnPostAsync()
    {
        await _remotiatr.Send(Data);

        _navigationManager.NavigateTo("/Courses");
    }
}