@using _ = ContosoUniversity.Shared.Features.Dashboard.Departments

@inject IRemotiatr _remotiatr

<h2>Departments</h2>

<Loading When="Data == null">

    <table class="table">
        <thead>
            <tr>
                <th>
                    <Label For="() => Data.Departments.First().Name" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data.Departments)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>

</Loading>

@code {
    public _.Result Data { get; private set; }

    protected override async Task OnInitializedAsync() => Data = await _remotiatr.Send(new _.Query());
}
