@page "/Dashboard"

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <Students></Students>
    </div>
    <div class="col-md-6">
        <Courses></Courses>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <Instructors></Instructors>
    </div>
    <div class="col-md-6">
        <Departments></Departments>
    </div>
</div>
