@using _ = ContosoUniversity.Shared.Features.Instructors.Details

@page "/Instructors/{id:int}"
@inject IRemotiatr _remotiatr

<h2>Details</h2>

<Loading When="Data == null">

    <div>
        <h4>Instructor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <Label @bind-Value="Data.LastName" />
            </dt>
            <dd>
                @Data.LastName
            </dd>
            <dt>
                <Label @bind-Value="Data.FirstMidName" />
            </dt>
            <dd>
                @Data.FirstMidName
            </dd>
            <dt>
                <Label @bind-Value="Data.HireDate" />
            </dt>
            <dd>
                @Data.HireDate.ToString("d")
            </dd>
        </dl>
    </div>
    <div>
        <a href="/Instructors/Edit/@Data.Id">Edit</a> |
        <a href="/Instructors">Back to List</a>
    </div>

</Loading>

@code {
    [Parameter]
    public int Id { get; set; }

    public _.Model Data { get; private set; }

    protected override async Task OnInitializedAsync() => Data = await _remotiatr.Send(new _.Query { Id = Id });
}